/*
 *	Website main colors
 *	Background: black;
 *	Items-color: #5E9FF6;
 *	Shadow-1: #323232;
 *	
*/

html,body,.container-fluid{
	height: 100%;
	padding: 0px;
	background-color: #000;
}

#topBar{
	position:fixed;
	background-color:#5E9FF6;
	/*ADD BROWSER COMPATIBILITY*/
	
	height: 60px;
	width: 100%;
	/*opacity: 0.8;*/
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	color: white;
	text-shadow: 2px 2px #000;
	font: bold;	
	font-family: 'Oswald', sans-serif;
	z-index: 2;
}

#content{
	height: 100%;
	width: 100%;
	margin-right: 0px;
	margin-left: -15px;
	padding-top: -webkit-calc(5% + 60px);
	color: #9900ff;
	font-family: 'Oswald', sans-serif;
}

.line{
	/*#cc66ff*/
	border-top: solid #5E9FF6;
	margin-left: 30px;
	text-shadow: 2px 2px #323232;
}

#queueNumber{
	color: #e6e6e6;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #5E9FF6;
	color:#fff;
	text-shadow: 2px 2px #000;
}

#numberCocktail{
	font-size: 8em;
	margin-bottom: 0px;
}

#cocktail{
	margin-top: 0px;
	margin-bottom: 30px; 
}

#cocktainAttesa{
	color: #5E9FF6;
}

.cocktailDiv{
	margin-left: 30px;
	margin-right: 0px;
	margin-top: 15px;
	height: 60px;
	background-color: #5E9FF6;
	color: #e6e6e6;
	text-align: left;
	text-shadow: 2px 2px #000;
}

.cocktailDiv h3{
	font-size: 3em;
	margin-top: 10px;
}

.cocktailDiv a{
	text-decoration: none;
    list-style-type: none;
    color: #e6e6e6;
}

.cocktailDiv a:hover{
	color: #323232;
}

.info{
	float: right;
	margin-top: 9px;
}






