/*
 *	Website main colors
 *	Background: black;
 *	Items-color: #5E9FF6;
 *	Shadow-1: #323232;
 *	
*/

html,body,.container-fluid{
	height: 100%;
	padding: 0px;
	background-color: #000;
}

#topBar{
	position:fixed;
	background-color:#5E9FF6;
	/*ADD BROWSER COMPATIBILITY*/
	height: 60px;
	width: 100%;
	/*opacity: 0.8;*/
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	color: white;
	text-shadow: 2px 2px #000;
	font: bold;	
	font-family: 'Oswald', sans-serif;
	z-index: 2;
}

#scritta{
	margin-top: 15px;
}

#freccia{
	margin-top: 8px;
	color: white;
}

.queue{

  margin-top: 15px;
}

.queue a{
	text-decoration: none;
    list-style-type: none;
    color: #fff;
}

.queue a:hover{
    color: #323232;
}

#logo{
	margin-top: 60px;
	width: 60%;
	z-index: 1;
}

@media screen and (min-aspect-ratio: 16/9){
	#logo{
		margin-top: 50px;
		width: 25%;
		z-index: 1;
	}
}

#content{
	height: 100%;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: -webkit-calc(5% + 60px);
	color: #00cc44;
	font-family: 'Oswald', sans-serif;
}

.line{
	/*#cc66ff*/
	width:-webkit-calc(100% - 30px);
	border-top: solid #5E9FF6;
	text-shadow: 2px 2px #323232;
}

#cash{
	width:-webkit-calc(100% - 30px);
	font-size: 7em;
	margin-top: 10%;
	margin-left: 15px;
	background-color: #5E9FF6;
	color:#fff;
	text-shadow: 2px 2px #000;
	height: 40%;
	padding-top: 12%;
	margin-bottom: 10%;
}

#username{
	font-size: 2.5em;
	color: #5E9FF6;
}

#usernameName{
	width:-webkit-calc(100% - 30px);
	margin-left: 15px;
	margin-top: 15px;
	height: 60px;
	background-color: #5E9FF6;
	color: #e6e6e6;
	text-align: center;
	text-shadow: 2px 2px #000;
}