/*
 *	Website main colors
 *	Background: black;
 *	Items-color: #5E9FF6;
 *	Shadow-1: #323232;
 *	
*/

html,body,.container-fluid{
	height: 100%;
	padding: 0px;
	background-color: #000;
}

#topBar{
	position:fixed;
	background-color:#5E9FF6;
	/*ADD BROWSER COMPATIBILITY*/
	/*-webkit-box-shadow: 0px 7px 10px #323232;*/
	height: 60px;
	width: 100%;
	/*opacity: 0.8;*/
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	color: white;
	text-shadow: 2px 2px #000;
	font: bold;	
	font-family: 'Oswald', sans-serif;
	z-index: 2;
}

#scritta{
	margin-top: 15px;
}

#freccia{
	margin-top: 8px;
	color: white;
}

#cog {
	margin-top: 8px;
	color: white;
}

.queue{

  margin-top: 15px;
}

.queue a{
	text-decoration: none;
    list-style-type: none;
    color: #fff;
}

.queue a:hover{
    color: #323232;
}

#logo-field{
	/*ADD BROWSER COMPATIBILITY*/
	height: -webkit-calc(65% - 60px);
	width: -webkit-calc(100% + 15px);
	margin-right: 0px;
	margin-left: -15px;
	margin-top: 60px;
}

#logo{
	margin-top: 100px;
	width: 70%;
	z-index: 1;
}

@media screen and (min-aspect-ratio: 16/9){
	#logo{
		margin-top: 50px;
		width: 25%;
		z-index: 1;
	}
}

#content{
	height: -webkit-calc(35% - 5px);
	width: -webkit-calc(100% - 10px);
	margin-right: 0px;
	margin-left: 5px;
	background-color: #000;
}

.button{
	width: 90%;
	height: 50%;
	text-shadow: 2px 2px #000;
	font: bold;	
	color: #CCCCC9;
	background-color: #5E9FF6;
	margin-top: 30%;
	margin-left: 5%;
	padding-top: 15px;
	/*ADD BROWSER COMPATIBILITY*/
	-webkit-box-shadow: 7px 7px 10px #000;
}

.cocktail{	
	color: #ffcc00;
}

.conto{
	color: #00cc44;
}

.text{
	text-shadow: 2px 2px #000;
	font:200% bold;	
	font-family: 'Oswald', sans-serif;
}



